.widget {
  position: sticky;
  top: 72px;
  background-color: white;
  border-radius: 10px;
  flex: 1 0 auto;
  height: fit-content;
  &__top {
    display: flex;
    align-items: center;
    padding: 10px;
    > h4 {
      font-size: 18px;
      font-weight: 600;
      margin-right: 5px;
    }
  }
}

.article {
  padding: 10px;
  display: flex;
  &:hover {
    cursor: pointer;
    background-color: #d6d6d6;
    border-radius: 10px;
  }
  &__left {
    margin-right: 5px;
    color: #0a66c2;
  }
  &__right {
    > h4 {
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 5px;
    }
    > p {
      font-size: 12px;
      color: #a3a3a3;
    }
  }
}
